<div id="post-{{post_id}}">
    <img class="card-image" src="/{{thumbnail}}">
    <div class="card-bodt">
        <h3 class="card-title">
            {{title}}
        </h3>
        <a href="/posts/{{post_id}}" class="anchor-buttons">Post Details</a>
    </div>
</div>