<div id="message-{{id}}" class="comment">
    <strong class="comment-author">{{userneame}}</strong>
    <strong class="comment-date">{{formatDate createdAt}}</strong>
    <div class="comment-text">{{text}}</div>
</div>