<div class="search-container">
        <form action="/posts/search" method="GET" enctype="application/x-www-form-urlencoded">
          <input type="text" name="s" placeholder="Search..." aria-label="Search" value="{{searchValue}}"/>
          <button type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>