<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index-style.css">

    <script defer src="../js/fetchapi.js"></script>
</head>

<body>
    <header>
        <h1>PostPlay</h1>
    </header>
    <nav>
        <ul class="navLinks">
            <li>
                <a href="Index.html" class="active">Home</a>
            </li>
            <li>
                <a href="login.html">Login</a>
            </li>
            <li>
                <a href="registration.html">Register</a>
            </li>
            <li>
                <a href="postvideo.html">Post</a>
            </li>
            <li>
                <a href="viewpost.html">View Post</a>
            </li>
        </ul>
    </nav>
    <main>
        <header>
            <h2>Home</h2>
        </header>

        <p id="item-count" style="color: white;"></p>
        <div id="container" class="container">

        </div>

        <footer>
            Alejandro Cruz-Garcia &copy; 2025
        </footer>
    </main>
</body>

</html>