<div class="wrapper d-flex min-vh-100">
  <div class="content flex-grow-1 p-4">
    <main>
      <header>
        <h2 class="text-white text-center mb-4">Login Form</h2>
      </header>
      <div class="container">
        <form action="">
          <div class="form">
            <label for="username">Username</label>
          </div>
          <div class="login-text">
            <input type="text" name="username" id="username" required />
          </div>

          <div class="form">
            <label for="password">Password</label>
          </div>
          <div class="login-text">
            <input type="password" name="password" id="password" required />
          </div>

          <div class="form-wrapper mt-3">
            <button type="submit" class="btn">Login</button>
            <button type="reset" class="btn btn-secondary ms-2">Clear</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
