<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>PostPlay</h1>
    </header>
    <nav>
        <ul class="navLinks">
            <li>
                <a href="Index.html">Home</a>
            </li>
            <li>
                <a href="login.html" class="active">Login</a>
            </li>
            <li>
                <a href="registration.html">Register</a>
            </li>
            <li>
                <a href="postvideo.html">Post</a>
            </li>
            <li>
                <a href="viewpost.html">View Post</a>
            </li>
        </ul>
    </nav>
    <main>
        <header>
            <h2>Login Form</h2>
        </header>
        <div class="container">
            <form action="">

                <div class="form">
                    <label for="username">Username</label>
                </div>
                <div class="login-text">
                    <input type="text" name="username" id="username" required>
                </div>

                <div class="form">
                    <label for="password">Password</label>
                </div>
                <div class="login-text">
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="form-wrapper">
                    <button type="submit" class="btn">Login</button>
                    <button type="reset">Clear</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        Alejandro Cruz-Garcia &copy; 2025
    </footer>
</body>

</html>