<div class="wrapper d-flex">
  <div class="content flex-grow-1 p-4">
    <main>
      <header>
        <h2 class="text-white mb-4">Upload Your Videos</h2>
      </header>

      <form action="/posts/create" method="POST" enctype="multipart/form-data" style="max-width: 400px; margin: auto;">
        <label for="title" class="form-label text-white">Video Title:</label>
        <input type="text" name="title" id="title" class="form-control mb-3" required />

        <label for="description" class="form-label text-white">Description:</label>
        <input type="text" name="description" id="description" class="form-control mb-3" required />

        <label for="upload" class="form-label text-white">Select Files To Upload:</label>
        <input type="file" name="videoUpload" id="upload" class="form-control mb-3" multiple required />

        <div class="form-check mb-3">
          <input type="checkbox" id="acceptable-use" name="aop" class="form-check-input" required />
          <label for="acceptable-use" class="form-check-label text-white">
            By uploading, you agree to the acceptable use policy for uploading videos.
          </label>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </main>
  </div>
</div>