<div class="wrapper d-flex">
  <div class="content flex-grow-1 p-4">
    <main>
      {{> search}}
      <header>
        <h2 class="text-white mb-3">Title Name</h2>
      </header>


      <p class="videoDesc text-white mb-4">Video Description</p>

      <div class="viewpost mb-3 text-white">
        <h4>Author</h4>
      </div>

      <div class="viewpost mb-4 text-white">
        <h4>Created</h4>
      </div>

      <video class="w-100 rounded"
        src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" controls
        preload="metadata"></video>

      <section class="mt-4 text-white">
        <h3>Comments</h3>
      </section>
    </main>
  </div>
</div>